<table class="table">
    <thead>
        <tr>
            <th>Label</th>
            <th>Link</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for link in links %}
        <tr>
            <td>{{ link.label }}</td>
            <td>{{ link.link }}</td>
            <td class="text-right">
                <a href="{{ path('link_edit', {'id': link.id}) }}">edit</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
