<div class="card mb-2">
    <div class="card-header">
        Reference
    </div>
    <div class="card-body">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </div>
</div>
