<table class="table">
    <thead>
        <tr>
            <th>Skill</th>
            <th>Level</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for skill in skills %}
        <tr>
            <td>{{ skill.skill }}</td>
            <td>{{ skill.level }}</td>
            <td class="text-right">
                <a href="{{ path('skill_edit', {'id': skill.id}) }}">edit</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
